$font-size-default: 16px;
$primary-color: #ff8501;
$primary-text-color: #666666;
$dropdown-hover-color: #99999933;
$heading-text-color: #4d4d4d;

//Colors
$orange: #ff8501;
$white: #ffffff;
$black: #4d4d4d;
